```
# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3
.env
media/
staticfiles/

# Node
node_modules/
build/
.env.local
.env.development.local
.env.test.local
.env.production.local

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db